<div class="sidebar-brand">
  <i class="fa-solid fa-building-columns"></i>
  <span>CSU-Piat DCF</span>
</div>
<nav class="nav flex-column py-2">
  <div class="nav-section-title">Main</div>
  <a class="nav-link" data-page="dashboard" href="dashboard.html"><i class="fa-solid fa-gauge"></i> Dashboard</a>
  <a class="nav-link" data-page="rooms" href="rooms.html"><i class="fa-solid fa-door-open"></i> View Rooms</a>
  <a class="nav-link" data-page="my-reservations" href="my-reservations.html"><i class="fa-solid fa-clipboard-list"></i> My Reservations</a>
  <a class="nav-link" data-page="profile" href="profile.html"><i class="fa-solid fa-user"></i> My Profile</a>
  <div class="nav-section-title">Account</div>
  <a class="nav-link" href="#" id="sidebar-logout-link"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
</nav>
